@import "tailwindcss";

@theme {
  --default-font-family:
    "Manrope", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);

  --text-default: 13px;

  --breakpoint-xs: 30rem;
}

@utility btn-inactive {
  background-color: var(--color-light-grayish-blue);
  transition: background-color 0.8s ease;
}

@utility btn-active {
  background-color: var(--color-dark-blue);
}

@utility icon-inactive {
  fill: var(--color-dark-blue);
  transition: fill 0.8s ease;
}

@utility icon-active {
  fill: var(--color-light-grayish-blue);
}

@utility menu-reveal {
  clip-path: circle(0% at calc(100% - 46px) calc(100% - 45px));
  transition: clip-path 0.55s cubic-bezier(0.4, 0, 0.2, 1);
}

@utility menu-reveal-open {
  clip-path: circle(150% at calc(100% - 46px) calc(100% - 45px));
  transition: clip-path 0.55s cubic-bezier(0.4, 0, 0.2, 1);
}
